@charset "UTF-8";
@import url(../css/fonts.css);
.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri_icon-request {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -681px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 29px;
}

.fri_icon-information {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -372px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
}

.fri_icon-visit {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -734px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 51px;
}

.fri_icon-narrow {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -561px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 39px;
}

.fri_icon-equipment {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 36px;
}

.fri_icon-high-lvl {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -295px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 38px;
}

.fri_icon-high-skill {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -336px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 41px;
}

.fri_icon-korean-medics {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -471px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 38px;
}

.fri_icon-price {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -597px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 40px;
}

.fri_icon-reliability {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -634px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 34px;
}

.fri_icon-facebook {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -239px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 51px;
}

.fri_icon-instagram {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -415px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 52px;
}

body {
  font-family: "PT Sans Regular", sans-serif;
  height: 100%;
  color: #333;
}

a {
  color: inherit;
}

.site-wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-weight: normal;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

strong, b {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: normal;
}

.st-title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
}

.fz20 {
  font-size: 20px;
}

.fz25 {
  font-size: 25px;
}

.fz30 {
  font-size: 30px;
}

.fz35 {
  font-size: 35px;
}

.fz50 {
  font-size: 50px;
}

.fz55 {
  font-size: 55px;
}

.tac {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
}

.owl-carousel .owl-item img {
  width: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-form__container {
  max-width: 800px;
}

.section-presentation__container {
  max-width: 880px;
}

.why-korea {
  padding-left: 500px;
  position: relative;
}
.why-korea:before {
  content: "";
  background: url("../images/doctor.png") no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 683px;
  height: 755px;
  position: absolute;
  left: -100px;
  bottom: -75px;
  z-index: 10;
}

.why-korea__content {
  position: relative;
  z-index: 20;
}

.why-korea__title {
  margin-bottom: 25px;
}

.container_w710px {
  max-width: 710px;
}

.container_w780px {
  max-width: 780px;
}

.container_w830px {
  max-width: 830px;
}

.container_w900px {
  max-width: 900px;
}

.header {
  position: relative;
  z-index: 100;
  box-shadow: 0 0 10px 0 #ccc;
}

.header__top {
  padding-top: 15px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  flex-basis: 286px;
}

.logo__link {
  height: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.logo__img {
  font-size: 0;
  line-height: 0;
}

.main-header__contacts {
  text-align: center;
}

.main-header__phone {
  margin-bottom: 2px;
}

.main-header__phone-link {
  font-family: "PT Sans Bold", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}

.main-header__free-call {
  font-size: 14px;
}

.main-header__button {
  flex-basis: 286px;
}

.main-banner-content__button {
  width: 100%;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "PT Sans Narrow Bold";
  color: #FFFFFF;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to right, #f44b51, #ff5a60);
  box-shadow: 0 2px 3px -1px #9a9a9a;
  border-top: 2px solid #ff8c90;
  border-radius: 3px;
  padding: 12px 25px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.button:hover {
  text-decoration: none;
}

.button__header {
  font-size: 18px;
  max-width: 274px;
  width: 100%;
  float: right;
}

.banner-content__button {
  text-align: center;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
}

.main-menu__item {
  position: relative;
}

.main-menu__item_dropmenu:hover .main-menu__dropmenu {
  display: block;
}
.main-menu__item_dropmenu:hover .main-menu__link {
  text-decoration: none;
}
.main-menu__item_dropmenu:hover .main-menu__link:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #231f20 transparent transparent transparent;
  top: 50%;
  right: -15px;
}

.main-menu__link {
  padding: 15px 0;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
}
.main-menu__link:hover {
  text-decoration: underline;
}

.main-menu__dropmenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -5px;
  background-color: #fff;
  width: 340px;
  padding: 25px;
  box-shadow: 0 0 5px 2px #eee;
  z-index: 100;
}

.menu-dropdown {
  list-style: none;
  font-size: 16px;
}

.menu-dropdown__item {
  margin-bottom: 20px;
}
.menu-dropdown__item:last-child {
  margin-bottom: 0;
}

.menu-dropdown__link {
  text-decoration: none;
}
.menu-dropdown__link:hover {
  text-decoration: underline;
}

.main-slider {
  padding: 0 !important;
}
.main-slider .owl-prev, .main-slider .owl-next {
  position: absolute;
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 119px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -59.5px;
  margin-left: -20px;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.main-slider .owl-prev:hover, .main-slider .owl-next:hover {
  opacity: 0.7;
}
.main-slider .owl-prev {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 119px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -59.5px;
  margin-left: -20px;
  left: 75px !important;
  margin-left: 0 !important;
}
.main-slider .owl-next {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -61px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 119px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -59.5px;
  margin-left: -20px;
  left: auto !important;
  margin-left: 0 !important;
  right: 75px !important;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}
.main-slider .owl-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  text-align: center;
}
.main-slider .owl-dot {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  border: 3px solid #fff;
}
.main-slider .owl-dot:hover {
  background-color: #1bb603;
  border-color: #fff;
}
.main-slider .owl-dot.active {
  background-color: #1bb603;
  border-color: #1bb603;
}

.main-slider__content {
  position: static;
  padding: 62px 0;
}

.main-slider__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1;
  font-size: 55px;
  color: #333333;
  margin-bottom: 19px;
}

.main-slider__subtitle {
  font-size: 26px;
  line-height: 1.33;
  margin-bottom: 19px;
}

.main-slider__text {
  font-size: 19px;
  line-height: 1.7em;
  margin-bottom: 25px;
}

.main-slider__slide {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
}

.section {
  padding: 70px 0;
  overflow: hidden;
}

.section_grey {
  background-color: #f6f6f6;
}

.section_taupe {
  background-color: #444444;
}

.section_pb_0 {
  padding-bottom: 0;
}

.section_pt_10 {
  padding-top: 10px;
}

.section_pt_25px {
  padding-bottom: 25px;
}

.section_pt40px {
  padding-top: 40px;
}

.section_pt45px {
  padding-top: 45px;
}

.section_pt50px {
  padding-top: 50px;
}

.section_pt55px {
  padding-top: 55px;
}

.section_pt60px {
  padding-top: 60px;
}

.section_pt65px {
  padding-top: 65px;
}

.section_pt75px {
  padding: 75px 0 70px;
}

.section_pt80px {
  padding-top: 80px;
}

.section_pb20px {
  padding-bottom: 20px;
}

.section_pb30px {
  padding-bottom: 30px;
}

.section_pb40px {
  padding-bottom: 40px;
}

.section_pb55px {
  padding-bottom: 55px;
}

.section_pb60px {
  padding-bottom: 60px;
}

.section_pb65px {
  padding-bottom: 65px;
}

.section_pb70px {
  padding-bottom: 70px;
}

.section_pb75px {
  padding-bottom: 75px;
}

.section_pb80px {
  padding-bottom: 80px;
}

.section__header {
  margin: 0 auto 50px;
  max-width: 680px;
}

.section__header_w900px {
  max-width: 900px;
}

.section__header_mb30px {
  margin-bottom: 30px;
}

.section__header_mb40px {
  margin-bottom: 40px;
}

.section__header_w780 {
  max-width: 780px;
}

.section__title {
  text-align: center;
  margin-bottom: 35px;
}

.section__title_m0 {
  margin: 0;
}

.section__title_white {
  color: #FFFFFF;
}

.section__title_mb20px {
  margin-bottom: 20px;
}

.section__title_mb30px {
  margin-bottom: 30px;
}

.section__title_mb35px {
  margin-bottom: 35px;
}

.section__title_mb40px {
  margin-bottom: 40px;
}

.section__title_mb28px {
  margin-bottom: 28px;
}

.section__title_mb47px {
  margin-bottom: 47px;
}

.section__text {
  font-size: 22px;
  text-align: center;
  line-height: 1.4;
}

.section__text_white {
  color: #FFFFFF;
}

.section__text_lh1-5 {
  line-height: 1.5em;
}

.section__text_mb50px {
  margin-bottom: 50px;
}

.section__subtitle {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 35px;
}

.section-grid {
  display: flex;
  justify-content: space-between;
}

.section-grid__item {
  width: 355px;
  position: relative;
}
.section-grid__item::before {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -561px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 39px;
  content: "";
  position: absolute;
  top: 50px;
  right: -30px;
}
.section-grid__item:last-child::before {
  display: none;
}

.section-grid__text {
  text-align: center;
}

.section-grid__icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section-grid__narrow {
  padding-top: 53px;
}

.section-grid__icon-wrapper {
  margin: auto;
  border: 1px solid #000000;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  margin-bottom: 13px;
}

.section-grid__text {
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  line-height: 1.5em;
  padding: 0 30px;
}

.section-form {
  position: relative;
  background-image: url("../images/form-request-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
  padding: 70px 0;
}

.section-form_bg2 {
  background-image: url("../images/form-request-bg2.jpg");
}

.section-form__header {
  margin-bottom: 20px;
  text-align: center;
}

.section-form__title {
  font-size: 55px;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
}

.section-form__descr {
  font-size: 22px;
}

.st-textarea {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 17px;
  width: 100%;
  height: 88px;
  border-radius: 5px;
  resize: none;
  padding: 15px;
  color: #8f8f8f;
  outline: none;
  border: none;
}

.st-input {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 17px;
  width: 100%;
  height: 42px;
  border-radius: 5px;
  resize: none;
  padding: 0 15px;
  color: #8f8f8f;
  outline: none;
  border: none;
}

.st-checkbox {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.st-checkbox__input {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
.st-checkbox__input:checked + .st-checkbox__checkbox {
  opacity: 1;
}

.st-checkbox__checkbox {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -185px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5.5px;
  margin-left: -8px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.st-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding: 6px 0 6px 40px;
  min-height: 28px;
}

.st-label__checkbox {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 0;
}

.st-label__text {
  font-size: 17px;
}

.form-request__line {
  margin-bottom: 15px;
}

.form-request__inputs {
  display: flex;
  justify-content: space-between;
}

.form-request__input {
  width: 48%;
}

.list-advantage__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1em;
  font-size: 50px;
  text-align: left;
}

.list-advantage__item {
  display: flex;
  align-items: center;
  max-width: 650px;
  width: 100%;
  margin-bottom: 25px;
}
.list-advantage__item:last-child {
  margin-bottom: 0;
}

.list-advantage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe6268;
  width: 62px;
  height: 62px;
  margin-right: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}

.list-advantage__text {
  font-size: 22px;
  line-height: 1.5em;
}

.review__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 55px;
}

.review-slider .owl-dots {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
.review-slider .owl-dot {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  border: 3px solid #fff;
}
.review-slider .owl-dot:hover {
  background-color: #1bb603;
  border-color: #fff;
}
.review-slider .owl-dot.active {
  background-color: #1bb603;
  border-color: #1bb603;
}

.review-slider__content {
  position: relative;
  padding-left: 200px;
  min-height: 200px;
}

.review-slider__photo {
  margin-right: 30px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 5px solid #e1dede;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -85px;
  font-size: 0;
  line-height: 0;
}

.review-slider__img {
  width: 160px !important;
  height: 160px;
  object-fit: cover;
}

.review-slider__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "PT Sans Bold", sans-serif;
  border-bottom: 2px solid #fe6268;
  padding-bottom: 17px;
  margin-bottom: 15px;
}

.review-slider__name {
  font-size: 20px;
  flex-grow: 1;
}

.review-slider__place {
  font-size: 16px;
  margin-right: 10px;
}

.review-slider__date {
  font-size: 16px;
}

.review-slider__text {
  font-size: 18px;
  line-height: 1.7em;
}

.say-about .owl-dots {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
.say-about .owl-dot {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  border: 3px solid #fff;
}
.say-about .owl-dot:hover {
  background-color: #1bb603;
  border-color: #fff;
}
.say-about .owl-dot.active {
  background-color: #1bb603;
  border-color: #1bb603;
}

.say-about-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -45px;
}

.say-about-grid__item {
  width: 45%;
  margin-bottom: 45px;
}

.say-about-grid__image {
  width: 100% !important;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -45px;
}

.news-grid__item {
  width: 45%;
  margin-bottom: 45px;
}

.news-item {
  text-decoration: none;
}
.news-item:hover .news-item__image {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.news-item__image-wrap {
  position: absolute;
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 4px solid #e1dede;
  z-index: 1;
}

.news-item__desc {
  padding-left: 150px;
}

.news-item__image {
  width: 134px;
  height: 134px;
  object-fit: cover;
  position: relative;
  transition: transform 0.3s;
}

.news-item-desc {
  min-height: 134px;
}

.news-item-desc__preview {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  line-height: 1.7em;
  margin-bottom: 10px;
}

.news-item-desc__date {
  font-size: 16px;
  color: #a1a1a1;
}

.button__news {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 20px;
  min-height: 40px;
  width: 157px;
  display: block;
  margin: 0 auto;
}

.faq-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -40px;
}

.faq-grid__item {
  width: 45%;
  padding-bottom: 40px;
}

.faq-item-desc__title {
  font-size: 19px;
  font-family: "PT Sans Bold";
  line-height: 1.7em;
  margin-bottom: 5px;
}

.faq-item-desc__text {
  font-size: 18px;
  line-height: 1.7em;
}

.faq__item {
  width: 50%;
  padding-top: 25px;
  padding-left: 100px;
}

.faq__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
}

.faq__text {
  font-size: 18px;
  line-height: 1.7em;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__instagram {
  width: 785px;
  margin-bottom: -40px;
}

.social__facebook {
  width: 310px;
}

.instagram-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.instagram-grid__item {
  width: 45%;
  margin-bottom: 40px;
  text-decoration: none;
}

.social__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.instagram-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.instagram-item:hover .instagram-item__image {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -o-transform: scale(1.2);
}

.instagram-item__image-wrap {
  position: relative;
  max-width: 346px;
  max-height: 253px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}

.instagram-item__image {
  transition: all 2s ease 0s;
  max-width: 346px;
  max-height: 253px;
  width: 100%;
}

.instagram-item__text {
  max-width: 346px;
}

.instagram-item__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.instagram-item__category {
  font-size: 16px;
  color: #b1b1b1;
  margin-bottom: 10px;
}

.instagram-item__preview {
  font-size: 18px;
  line-height: 1.7em;
}

.facebook__item {
  align-self: center;
}

.facebook__image {
  max-width: 308px;
  width: 100%;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-grid__wrapper-left {
  max-width: 785px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-grid__wrapper-right {
  max-width: 310px;
  width: 100%;
}

.footer-item {
  font-size: 16px;
  line-height: 1.7em;
}

.footer-item__list {
  float: right;
  list-style-type: none;
}

.footer-grid__item-address {
  color: #FFFFFF;
  width: 50%;
}

.footer-grid__item-links {
  color: #FFFFFF;
  width: 50%;
}

.footer-grid__item-social {
  color: #FFFFFF;
  width: 100%;
}

.footer-item-phones-grid {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.footer-item-phones-grid__phone-title {
  width: 30%;
}

.footer-item-phones-grid__phones {
  width: 70%;
}

.footer-item-phones__text {
  float: left;
  line-height: 1.7em;
}

.footer-item-phone__numbers {
  padding-left: 80px;
  line-height: 1.7em;
}

.footer-item__social {
  text-align: center;
  line-height: 1.7em;
}

.footer-item__social-icons {
  margin: 0 5px;
}

.footer-item__wrapper {
  line-height: 1.7em;
  margin-bottom: 25px;
}

.button__banner {
  width: 287px;
  margin: 0 auto;
}

.banner {
  background: url("../images/diagnostic-banner.jpg") center no-repeat;
}

.section__body {
  margin-bottom: 65px;
}

.section__footer {
  border-top: 2px solid #FFFFFF;
}

.section__footer_w900px {
  width: 900px;
}

.banner-grid {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
  margin-left: -15px;
}

.banner-grid__item {
  width: 33.3%;
  padding-left: 15px;
}

.banner-grid__number {
  display: block;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 60px;
  float: left;
  line-height: 0.8em;
  color: #FFFFFF;
  margin-right: 9px;
}

.banner-grid__text {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: lowercase;
}

.owl-carousel {
  padding: 0 140px;
}

.owl-prev, .owl-next {
  position: absolute;
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -33px;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.owl-prev:hover, .owl-next:hover {
  opacity: 0.7;
}

.owl-prev {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -33px;
  left: 0 !important;
  margin-left: 0 !important;
}

.owl-next {
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -33px;
  left: auto !important;
  margin-left: 0 !important;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  right: 0 !important;
}

.section_bg-choose-us {
  background-image: url("../images/choose-us-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid_elems-2 {
  font-size: 20px;
  line-height: 1.7em;
  color: #FFFFFF;
}
.grid_elems-2 .grid__item {
  width: 45%;
}

.grid__item_read-more {
  font-size: 16px;
}

.grid-elems-4 {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 1.7em;
  color: #333;
}

.grid-elems-4__content {
  width: 22%;
}

.section-item__title {
  text-align: center;
  margin-bottom: 35px;
}

.section-item__subtitle {
  text-align: center;
  margin-bottom: 45px;
}

.section__item {
  margin-bottom: 60px;
}
.section__item:last-child {
  margin-bottom: 0;
}

.section-item-grid {
  display: flex;
  justify-content: space-between;
}

.section-item-grid__content {
  width: 60%;
  font-size: 19px;
}
.section-item-grid__content li {
  position: relative;
  margin-bottom: 25px;
  line-height: 1.7em;
  list-style-type: none;
  padding-left: 34px;
}
.section-item-grid__content li::before {
  content: "";
  background-image: url('../images/icons-sd92cec63f9.png');
  background-position: 0 -785px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 17px;
  position: absolute;
  top: 7px;
  left: 0;
}

.section-item-grid__contacts {
  width: 30%;
}

.section-contacts {
  color: #FFFFFF;
}

.section__contacts {
  background: url("../images/section-contacts-bg.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}

.section-contacts__header {
  font-family: "PT Sans Narrow Bold";
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
  padding: 25px 15px 15px 15px;
  margin-bottom: 25px;
}

.section-contacts__body {
  padding: 0 15px 25px;
}

.section-contacts__line {
  text-align: center;
  margin-bottom: 40px;
}
.section-contacts__line:last-child {
  margin-bottom: 0;
}

.section-contacts__link {
  text-decoration: none;
}

.section-contacts__text {
  font-family: "PT Sans Bold";
}

.mission {
  padding-left: 400px;
  position: relative;
}
.mission:before {
  content: "";
  background: url("../images/mission.png") no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 493px;
  height: 561px;
  position: absolute;
  left: -100px;
  bottom: -75px;
  z-index: 10;
}
.mission strong {
  font-size: 25px;
  font-family: "PT Sans Narrow Bold";
}

.mission__content {
  position: relative;
  z-index: 20;
  font-size: 17px;
  line-height: 1.5em;
}
.mission__content p {
  margin-bottom: 30px;
}
.mission__content p:last-child {
  margin-bottom: 0;
}

.custom-ol-list {
  list-style: none;
}
.custom-ol-list > li {
  margin-bottom: 30px;
}
.custom-ol-list > li:last-child {
  margin-bottom: 0;
}

.custom-ol-list ul li {
  position: relative;
  line-height: 1.7em;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 10px;
}
.custom-ol-list ul li::before {
  content: "—";
  position: absolute;
  left: 0;
}
.custom-ol-list ul ol li {
  padding-left: 5px;
  list-style-type: decimal;
  margin-left: 90px;
  margin-bottom: 0;
}
.custom-ol-list ul ol li::before {
  content: "";
}
.custom-ol-list ul ol li:last-child {
  margin-bottom: 0;
}

.custom-ul-list li {
  position: relative;
  line-height: 1.7em;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 10px;
}
.custom-ul-list li::before {
  content: "—";
  position: absolute;
  left: 0;
}

.jspTrack {
  background-color: #ffa6a9;
}

.jspDrag {
  background-color: #fe595f;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

.accordion__content {
  display: none;
  border-top: 2px solid #fe6268;
  border-bottom: 2px solid #fe6268;
  padding: 45px 0;
}

.accordion__text {
  font-size: 17px;
  line-height: 1.5em;
}

.accordion__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 30px;
  padding: 35px 0 45px 0;
  text-align: center;
}

.table-scroll {
  width: 100%;
  overflow-y: visible;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.table, table {
  width: 100%;
  display: table;
  line-height: 1.2em;
}
.table strong, table strong {
  font-size: 20px;
}

.table__tr {
  display: table-row;
}

.table__td, td {
  display: table-cell;
  border: 1px solid #FFFFFF;
  background-color: #f8f8f8;
  padding: 15px 20px;
}

.section-presentation {
  position: relative;
  background-image: url("../images/presentation-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
}

.section-presentation__title {
  margin-bottom: 35px;
}

.section-presentation__descr {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 35px;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.grid_presentation .grid__item {
  padding: 0 20px;
}
.grid_presentation .grid__item:first-child {
  padding-left: 0;
}
.grid_presentation .grid__item:last-child {
  padding-right: 0;
}

.presentation-item {
  display: flex;
  align-items: center;
}

.presentation-item__number {
  font-family: "PT Sans Narrow Bold";
  font-size: 60px;
  margin-right: 10px;
}

.presentation-item__descr {
  font-size: 22px;
  font-family: "PT Sans Narrow Bold";
}

.section-presentation__footer {
  padding: 25px 0;
  border-top: 1px solid #fff;
}

.st-accordion__item {
  border-top: 1px solid #e6e6e6;
}
.st-accordion__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.st-accordion__item.open .st-accordion__header:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #000 transparent;
}

.st-accordion__header {
  font-size: 20px;
  padding: 20px 0 20px 50px;
  cursor: pointer;
  position: relative;
}
.st-accordion__header:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 20px;
}

.st-accordion__content {
  padding: 30px 0;
  border-top: 1px solid #fe6268;
  border-bottom: 1px solid #fe6268;
  display: none;
}

.st-content {
  font-size: 17px;
  line-height: 1.5em;
}
.st-content p {
  margin-bottom: 30px;
}
.st-content p:last-child {
  margin-bottom: 0;
}
.st-content img.float-right {
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  max-width: 100%;
}

.button-hamburger {
  width: 45px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  outline: none;
}

.button-hamburger__line {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #FE595F;
  left: 0;
  top: 50%;
  margin-top: -3px;
  border-radius: 15px;
}
.button-hamburger__line:first-child {
  top: 0;
  margin-top: 0;
}
.button-hamburger__line:last-child {
  top: auto;
  margin-top: 0;
  bottom: 0;
}

.main-header__menu-button {
  flex-basis: 180px;
  text-align: right;
}

.overlay-site {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.overlay-site.open {
  opacity: 1;
  visibility: visible;
}

.main-header__menu-button {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .main-header__logo {
    flex-basis: 180px;
  }

  .header__top {
    padding-bottom: 15px;
  }

  .main-header__menu-button {
    display: block;
  }

  .main-header__button {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .mobile-menu {
    display: block;
    height: 100%;
    left: -320px;
    top: 0;
    background-color: #fff;
    width: 320px;
    position: fixed;
    z-index: 300;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .mobile-menu.open {
    left: 0;
  }

  .main-menu {
    display: block;
  }

  .main-menu__link {
    width: 100%;
    display: block;
  }

  .main-menu__link {
    padding: 15px;
  }

  .main-menu__dropmenu {
    width: 100%;
    padding: 0;
    position: static;
  }

  .menu-dropdown__item {
    margin-bottom: 0;
  }

  .menu-dropdown__link {
    padding: 10px 20px;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .main-header__contacts {
    display: none;
  }
}
@media screen and (max-width: 1370px) {
  .main-slider__content {
    padding: 62px 140px;
  }
}
@media screen and (max-width: 1075px) {
  .say-about-grid {
    margin: 0;
  }

  .say-about-grid__item {
    padding: 0;
    width: 100%;
  }

  .tab-display-none {
    display: none;
  }
}
@media screen and (max-width: 1130px) {
  .footer-grid__wrapper-left {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .footer-item__list {
    text-align: right;
  }

  .footer-grid__wrapper-right {
    margin: auto;
  }
}
@media screen and (max-width: 991px) {
  .owl-nav .owl-next {
    right: 5px !important;
  }

  .owl-nav .owl-prev {
    left: 5px !important;
  }

  .news-grid {
    justify-content: center;
  }

  .news-grid__item {
    width: 100%;
    max-width: 500px;
  }

  font-size: 40px;
  .tab-fz35 {
    font-size: 35px;
  }

  .tab-fz30 {
    font-size: 30px;
  }

  .tab-fz25 {
    font-size: 25px;
  }

  .tab-fz20 {
    font-size: 20px;
  }

  .tab-fz18 {
    font-size: 18px;
  }

  .tab-fz14 {
    font-size: 14px;
  }

  .tab-fz12 {
    font-size: 12px;
  }

  .section {
    padding: 30px 0;
  }

  .section-form {
    padding: 30px 0;
  }

  .main-slider__content {
    padding: 62px 40px;
    max-width: 100%;
  }

  .why-korea__title {
    text-align: center;
  }

  .why-korea {
    padding: 0;
  }
  .why-korea:before {
    left: auto;
    right: -150px;
    bottom: -95px;
  }

  .why-korea__content {
    max-width: 550px;
  }

  .main-slider__title br, .main-slider__subtitle br, .main-slider__text br {
    display: none;
  }

  .review-slider__right {
    text-align: right;
  }

  .review-slider__place {
    margin: 0;
  }

  .news-item__image-wrap {
    width: 100px;
    height: 100px;
  }

  .news-item-desc {
    min-height: 100px;
  }

  .news-item__desc {
    padding-left: 120px;
  }

  .footer-grid__item {
    margin: 0 auto 30px auto;
  }
  .footer-grid__item:last-child {
    margin-bottom: 0;
  }

  .footer-item__wrapper {
    margin-bottom: 10px;
  }

  .custom-ol-list h2 {
    font-size: 20px;
  }

  .st-content {
    font-size: 18px;
  }
  .st-content h2 {
    font-size: 20px;
  }

  .grid_presentation .presentation-item__descr {
    font-size: 18px;
    line-height: 1em;
  }
  .grid_presentation .presentation-item__number {
    font-size: 40px;
  }
}
@media screen and (max-width: 900px) {
  .owl-carousel {
    padding: 0;
  }

  .mission {
    position: relative;
    padding-left: 0;
    width: 450px;
  }
  .mission::before {
    left: auto;
    right: -430px;
  }
}
@media screen and (max-width: 800px) {
  .mission::before {
    right: -400px;
  }
}
@media screen and (max-width: 700px) {
  .mission {
    width: 100%;
  }
  .mission::before {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .why-korea {
    padding: 0;
  }
  .why-korea:before {
    display: none;
  }

  .why-korea__content {
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .grid_presentation {
    flex-direction: column;
    align-items: center;
  }
  .grid_presentation .grid__item {
    padding: 0;
  }
  .grid_presentation:first-child {
    padding: 0;
  }
  .grid_presentation:last-child {
    padding: 0;
  }

  .presentation-item {
    width: 220px;
  }

  .st-content {
    font-size: 14px;
  }

  .mob-fz30 {
    font-size: 30px;
  }

  .mob-fz25 {
    font-size: 25px;
  }

  .mov-fz20 {
    font-size: 20px;
  }

  .mob-fz18 {
    font-size: 18px;
  }

  .mob-fz14 {
    font-size: 14px;
  }

  .section-grid {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .section-grid__item {
    margin-bottom: 80px;
  }
  .section-grid__item:last-child {
    margin-bottom: 0;
  }
  .section-grid__item::before {
    background-image: url('../images/icons-sd92cec63f9.png');
    background-position: 0 -517px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 39px;
    width: 31px;
    top: 110%;
    right: 45%;
  }

  .main-slider__content {
    padding: 31px 15px;
  }

  .main-slider__content {
    padding: 30px 0 60px 0;
    max-width: 100%;
  }

  .form-request__inputs {
    flex-direction: column;
  }

  .form-request__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-request__input:last-child {
    margin-bottom: 0;
  }

  .review-slider__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }

  .review-slider__photo {
    position: relative;
    margin: 0;
  }

  .news-grid__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-item__desc {
    padding-top: 10px;
    padding-left: 0;
    text-align: center;
  }

  .news-item__image-wrap {
    position: relative;
  }

  .faq-grid__item {
    width: 100%;
  }

  .list-advantage__icon {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .social__instagram {
    width: 100%;
    margin-bottom: 30px;
  }

  .social__facebook {
    width: 100%;
  }

  .instagram-grid {
    margin-top: 0;
    margin-left: 0;
  }

  .instagram-grid__item {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 25px;
  }
  .instagram-grid__item:last-child {
    margin-bottom: 0;
  }

  .social__title {
    font-family: "PT Sans Narrow Bold", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }

  .instagram-item {
    align-items: center;
  }

  .instagram-item__text {
    text-align: center;
  }

  .instagram-item__image-wrap {
    position: relative;
    max-width: 346px;
    max-height: 253px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
  }

  .facebook__item {
    text-align: center;
  }

  .footer-grid {
    flex-direction: column;
    align-items: center;
  }

  .footer-grid__item {
    text-align: center;
    width: 100%;
  }

  .footer-item-phone__numbers {
    padding: 0;
  }

  .footer-item-phones__text {
    float: none;
  }

  .footer-item__wrapper {
    margin-bottom: 15px;
  }

  .footer-grid__item {
    margin-bottom: 30px;
  }
  .footer-grid__item:last-child {
    margin-bottom: 0;
  }

  .grid_elems-2 {
    flex-direction: column;
  }
  .grid_elems-2 .grid__item {
    width: 100%;
  }

  .section-item-grid {
    flex-direction: column;
    align-items: center;
  }

  .section-item-grid__content {
    width: 100%;
  }

  .section-item-grid__contacts {
    width: 50%;
  }

  .mission__content {
    font-size: 14px;
  }
  .mission__content strong {
    font-size: 15px;
  }

  .custom-ol-list h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .footer-grid__wrapper-left {
    flex-direction: column;
    align-items: center;
  }

  .footer-grid__item-address {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }

  .footer-grid__item-links {
    width: 100%;
    margin-bottom: 35px;
  }

  .footer-grid__item-social {
    width: 100%;
  }

  .footer-item__list {
    text-align: center;
    float: none;
  }

  .footer-item-phones-grid {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 525px) {
  .why-korea__content {
    width: 100%;
    margin: 0 auto;
  }

  .list-advantage__item {
    flex-direction: column;
    justify-content: center;
  }

  .list-advantage__text {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .review-slider__header {
    flex-direction: column;
    align-items: center;
  }

  .review-slider__date {
    padding-left: 10px;
  }

  .section-item-grid__contacts {
    width: 100%;
  }
}
