@import url(../css/fonts.css);
.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri_icon-request {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -438px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 29px;
}

.fri_icon-information {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -171px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
}

.fri_icon-visit {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -491px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 51px;
}

.fri_icon-narrow {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -316px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 39px;
}

.fri_icon-equipment {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 36px;
}

.fri_icon-high-lvl {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -94px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 38px;
}

.fri_icon-high-skill {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -135px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 41px;
}

.fri_icon-korean-medics {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -270px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 38px;
}

.fri_icon-price {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -354px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 40px;
}

.fri_icon-reliability {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -391px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 34px;
}

.fri_icon-facebook {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -38px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 51px;
}

.fri_icon-instagram {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -214px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 51px;
  width: 52px;
}

.owl-nav {
  display: none;
}

html, body {
  font-family: "PT Sans Regular", sans-serif;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-weight: normal;
}

strong, b {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 1em;
  color: #333333;
}

button {
  border: none;
}

.owl-carousel .owl-item img {
  width: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container_w780px {
  max-width: 780px;
}

.container_w710px {
  max-width: 710px;
}

.container_w830px {
  max-width: 830px;
}

.header {
  margin-bottom: 16px;
}

.header__wrapper {
  margin-bottom: 15px;
}

.main-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.header__wrapper {
  padding-top: 15px;
}

.main-header__logo {
  -ms-flex-preferred-size: 286px;
  flex-basis: 286px;
}

.logo__link {
  height: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.logo__img {
  font-size: 0;
  line-height: 0;
}

.main-header__contacts {
  text-align: center;
}

.main-header__phone {
  margin-bottom: 2px;
}

.main-header__phone-link {
  font-family: "PT Sans Bold", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}

.main-header__free-call {
  font-size: 14px;
}

.main-header__button {
  -ms-flex-preferred-size: 286px;
  flex-basis: 286px;
}

.main-banner-content__button {
  width: 100%;
}

.button {
  min-height: 55px;
  font-family: "PT Sans Narrow Bold", sans-serif;
  color: #FFFFFF;
  background: linear-gradient(to right, #f44b51, #ff5a60);
  box-shadow: 0 2px 3px -1px #9a9a9a;
  border-top: 2px solid #ff8c90;
  border-radius: 3px;
  cursor: pointer;
}

.button__header {
  font-size: 18px;
  max-width: 274px;
  width: 100%;
  float: right;
}

.button__text {
  width: 100%;
  font-size: 18px;
}

.button_slider {
  font-size: 22px;
  width: 287px;
}

.banner-content__button {
  text-align: center;
}

.main-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-menu__item {
  text-decoration: none;
  font-size: 18px;
  color: #333333;
}

.main-slider__content {
  position: static;
  padding: 62px 0;
  max-width: 650px;
}

.main-slider__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  line-height: 1;
  font-size: 55px;
  color: #333333;
  margin-bottom: 19px;
}

.main-slider__subtitle {
  font-size: 26px;
  line-height: 1.33;
  margin-bottom: 19px;
}

.main-slider__text {
  font-size: 19px;
  line-height: 1.7em;
  margin-bottom: 25px;
}

.main-slider__slide {
  position: relative;
  background-size: cover;
}

.section {
  padding: 70px 0;
  background-color: #FFFFFF;
}

.section_grey {
  background-color: #f6f6f6;
}

.section_taupe {
  background-color: #444444;
}

.section_pb_0 {
  padding-bottom: 0;
}

.section_pt_10 {
  padding-top: 10px;
}

.section_pt40px {
  padding-top: 40px;
}

.section_pt50px {
  padding-top: 50px;
}

.section_pt55px {
  padding-top: 55px;
}

.section_pt60px {
  padding-top: 60px;
}

.section_pt65px {
  padding-top: 65px;
}

.section_pt75px {
  padding: 75px 0 70px;
}

.section_pt80px {
  padding: 80px;
}

.section_pb20px {
  padding-bottom: 20px;
}

.section_pb40px {
  padding-bottom: 40px;
}

.section_pb60px {
  padding-bottom: 60px;
}

.section_pb65px {
  padding-bottom: 65px;
}

.section_pb70px {
  padding-bottom: 70px;
}

.section_pb75px {
  padding-bottom: 75px;
}

.section_pb80px {
  padding-bottom: 80px;
}

.section__header {
  margin: 0 auto 50px;
  max-width: 700px;
}

.section__header_mb0 {
  margin-bottom: 0;
}

.section__header_w780 {
  max-width: 780px;
}

.section__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.section__title_f55px {
  font-size: 55px;
}

.section__title_cw {
  color: #FFFFFF;
}

.section__title_mb15px {
  margin-bottom: 15px;
}

.section__title_mb20px {
  margin-bottom: 20px;
}

.section__title_mb30px {
  margin-bottom: 30px;
}

.section__title_mb35px {
  margin-bottom: 35px;
}

.section__title_mb40px {
  margin-bottom: 40px;
}

.section__title_mb28px {
  margin-bottom: 28px;
}

.section__title_mb47px {
  margin-bottom: 47px;
}

.section__title_mb40px {
  margin-bottom: 40px;
}

.section__text {
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section__text_cw {
  color: #FFFFFF;
}

.section__text_mb50px {
  margin-bottom: 50px;
}

.section__subtitle {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 35px;
}

.section-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.section-grid__item {
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  position: relative;
}
.section-grid__item::before {
  background-image: url('../images/icons-se1aa6555de.png');
  background-position: 0 -316px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  width: 39px;
  content: "";
  position: absolute;
  top: 50px;
  right: -15px;
}
.section-grid__item:last-child::before {
  display: none;
}

.section-grid__text {
  text-align: center;
}

.section-grid__icon {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-grid__narrow {
  padding-top: 53px;
}

.section-grid__icon-wrapper {
  margin: auto;
  border: 1px solid #000000;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  margin-bottom: 13px;
}

.section-grid__text {
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  line-height: 1.5em;
  padding: 0 30px;
}

.section_form {
  position: relative;
  background-image: url("../images/form-request-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  color: #FFFFFF;
}

.form-request {
  text-align: center;
}

.form-request__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 55px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 17px;
}

.form-request__subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.form-request__textarea {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 17px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 88px;
  border-radius: 3px;
  resize: none;
  padding: 15px;
  margin-bottom: 10px;
}

.form-request__inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-request__input {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 17px;
  max-width: 393px;
  padding: 7px 15px;
  width: 100%;
  margin-bottom: 20px;
}

.form-request__checkbox {
  float: left;
  width: 28px;
  height: 28px;
}

.section__input-label {
  color: #FFFFFF;
  padding: 5px 0 5px 10px;
  font-size: 17px;
  float: left;
  margin-bottom: 15px;
}

.form-request__button {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 22px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.advantage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.advantage-image {
  position: absolute;
}

.advantage-image__doctor {
  margin: -60px 0px 0 -84px;
}

.list-advantage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 615px;
  width: 100%;
  margin-left: 525px;
}

.list-advantage__title {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.section__title_advantage {
  margin-bottom: 28px;
  text-align: left;
}

.list-advantage__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  max-width: 560px;
  width: 100%;
}
.list-advantage__item:last-child {
  margin-bottom: 0;
}

.list-advantage__icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fe6268;
  width: 62px;
  height: 62px;
  margin-right: 20px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.list-advantage__text {
  font-size: 22px;
  line-height: 1.5em;
}

.review__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 55px;
}

.review-slider__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 880px;
  flex-basis: 880px;
  max-width: 880px;
  width: 880px;
  margin: 0 auto;
}

.review-slider__photo {
  margin-right: 30px;
}

.review-slider__img {
  max-width: 168px;
  max-height: 168px;
  border-radius: 50%;
  border: 5px solid #e1dede;
}

.review-slider__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: "PT Sans Bold", sans-serif;
  border-bottom: 2px solid #fe6268;
  padding-bottom: 17px;
  margin-bottom: 15px;
}

.review-slider__name {
  font-size: 20px;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.review-slider__place {
  font-size: 16px;
  margin-right: 10px;
}

.review-slider__date {
  font-size: 16px;
}

.review-slider__text {
  font-size: 18px;
  line-height: 1.7em;
}

.say-about-slider__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 760px;
  margin: 0 auto;
}

.say-about-slider__image {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 510px;
  margin-bottom: 40px;
}

.news-image {
  position: relative;
  margin-right: 10px;
}

.news-image__image {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  border-color: #e1dede;
}

.news-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.news-text__preview {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  line-height: 1.7em;
  margin-bottom: 10px;
}

.news-text__date {
  font-size: 16px;
  color: #a1a1a1;
}

.button__news {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 20px;
  min-height: 40px;
  width: 157px;
  display: block;
  margin: 0 auto;
}

.faq {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.faq__item {
  width: 510px;
  margin-bottom: 25px;
}

.faq__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
}

.faq__text {
  font-size: 18px;
  line-height: 1.7em;
}

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social__instagram {
  width: 740px;
}

.social__facebook {
  width: 310px;
}

.instagram {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.instagram__item {
  width: 350px;
}

.social__title {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.instagram__item {
  margin-bottom: 40px;
  text-decoration: none;
}

.instagram__image {
  width: 346px;
  margin-bottom: 10px;
}

.instagram__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.instagram__category {
  font-size: 16px;
  color: #b1b1b1;
  margin-bottom: 10px;
}

.instagram__preview {
  font-size: 18px;
  line-height: 1.7em;
}

.facebook__item {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #FFFFFF;
}
.footer-grid a {
  color: #FFFFFF;
}
.footer-grid span {
  color: #FFFFFF;
}

.footer-grid__item {
  color: #FFFFFF;
}

.footer-grid__phone-title {
  float: left;
  margin-bottom: 15px;
}

.footer-grid__phones {
  float: left;
  margin-left: 15px;
}

.footer-grid__text {
  display: block;
  margin-bottom: 10px;
}

.footer-phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-phone__text {
  width: 30%;
}

.footer-phone__phones {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__links {
  width: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__social {
  text-align: center;
}

.footer-social__text {
  display: block;
  margin-bottom: 15px;
}
