<div class="review-slider owl-carousel">
    <div class="review-slider__content">
        <div class="review-slider__photo">
            <img class="review-slider__img" src="images/review-photo.jpg">
        </div>
        <div class="review-slider__text">
            <div class="review-slider__header">
                <div class="review-slider__name">Марина Пшеничникова</div>
                <div class="review-slider__right">
                    <span class="review-slider__place">Клиника: Квимс</span>
                    <span class="review-slider__date">29.09.2016</span>
                </div>
            </div>
            <div class="review-slider__text">Мы решили ехать в Южную Корею, когда у нас возникли некоторые разногласия с российской медициной по поводу состояния здоровья нашего ребенка. Мы приехали сюда, Никите провели обследование: сделали УЗИ, взяли кровь, по результатам у нас был прием. Профессор – заведующий инфекционным отделением успокоил нас, сказал, что сын абсолютно здоров.</div>
        </div>
    </div>
    <div class="review-slider__content">
        <div class="review-slider__photo">
            <img class="review-slider__img" src="images/review-photo.jpg">
        </div>
        <div class="review-slider__text">
            <div class="review-slider__header">
                <div class="review-slider__name">Марина Пшеничникова</div>
                <div class="review-slider__right">
                    <span class="review-slider__place">Клиника: Квимс</span>
                    <span class="review-slider__date">29.09.2016</span>
                </div>
            </div>
            <div class="review-slider__text">Мы решили ехать в Южную Корею, когда у нас возникли некоторые разногласия с российской медициной по поводу состояния здоровья нашего ребенка. Мы приехали сюда, Никите провели обследование: сделали УЗИ, взяли кровь, по результатам у нас был прием. Профессор – заведующий инфекционным отделением успокоил нас, сказал, что сын абсолютно здоров.</div>
        </div>
    </div>
</div>