{% extends "layouts/app.twig" %}

{% block pageTitle %} Скидка 20% на программы диагностики в госпитале инха {% endblock %}


{% block content %}
    <div class="section">
        <div class="container">
            <div class="section__title st-title fz50 tab-fz35 mob-fz25">Скидка 20% на программы диагностики в госпитале инха</div>
            <div class="st-content st-content_mb35px">
                <img class="float-right" src="images/news-page.jpg" alt="">
                <p>Многопрофильный медицинский центр Инха с 1 марта 2017 по 31 марта 2017 предоставляет скидку 20% на программы комплексной диагностики!</p>
                <h2>20% скидка на все программы диагностики.</h2>
                <p>Акция действует с 1 по  31 марта.</p>
                <p>Больница Медицинского института Университета «Инха» — одно из крупнейших медицинских учреждений Азии, располагающее передовым медицинским оборудованием и предоставляющее пациентам высококачественное медицинское обслуживание. В 2008 году госпиталь «Инха» был аккредитован Министерством здравоохранения и социального обеспечения Кореи и иполучил звание лучшего госпиталя в категории удовлетворения больных.</p>
                <p>21 июля 2010 года больница прошла международную аккредитацию JCI по всем видам своей медицинской деятельности, чем в очередной раз подтвердила надежность и высокое качество предоставляемых медицинских услуг. Кроме того, госпиталь был таким же аккредитован медицинским учреждением с лучшим центром с лучшим центром МЧС в течение 6 лет.</p>
                <p>Благодаря близкому расположению от международного аэропорта Инчон, госпиталь является наиболее доступным в Корее для иностранных пациентов.</p>
                <p>Не упустите возможность воспользоваться первым весенним предложением, которым медицинский центр Инха решил порадовать свои гостей!</p>
            </div>
            <p class="tac">
                <a href="#" class="button tab-fz18">Все новости</a>
            </p>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title tab-fz35 mob-fz25">Подписывайтесь на наши новости и узнавайте всё первыми</div>
                <div class="section-form__descr">Вы будете получать на электронную почту свежие новости и информацию об акциях и скидках на прогарммы диагностики/лечения в Южной Корее</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text mob-fz14">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <p class="tac">
                    <a href="#" class="button tab-fz18">Отправить бесплатный запрос</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}