{% extends "layouts/app.twig" %}

{% block pageTitle %} Блог {% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="section__title section__title_mb30px">
                <div class="st-title fz50 tab-fz35 mob-fz25">Блог экспертов по лечению за рубежом</div>
            </div>
            <div class="news-grid news-grid__wrapper">
                <a href="#" class="news-grid__item news-grid__item_blog-page news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/blog1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__title tab-fz20">Акупунктура повышает эффективность медикаментозного лечения при хронических  депрессиях</div>
                        <div class="news-item-desc__preview tab-fz14">Специалисты здравоохранения выяснили, что акупунктура повышает эффективность медикаментозного лечения при хронических болях и депрессиях. В журнале National Institute for Health Research ученые рассказали о положительном эффекте иглоукалывания и привели существенные доказательства этому факту.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-grid__item_blog-page news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/blog1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__title tab-fz20">Обнаружено 14 новых генетических заболеваний у детей</div>
                        <div class="news-item-desc__preview tab-fz14">Врожденные аномалии развития являются одной из главных причин смертности новорожденных по всему миру. В большинстве случаев главную роль играют генетические факторы. Одно из крупнейших исследований болезней детей выявило 14 новых генов, ответственных за нарушения развития у детей.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-grid__item_blog-page news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/blog1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__title tab-fz20">Акупунктура повышает эффективность медикаментозного лечения при хронических  депрессиях</div>
                        <div class="news-item-desc__preview tab-fz14">Специалисты здравоохранения выяснили, что акупунктура повышает эффективность медикаментозного лечения при хронических болях и депрессиях. В журнале National Institute for Health Research ученые рассказали о положительном эффекте иглоукалывания и привели существенные доказательства этому факту.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-grid__item_blog-page news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/blog1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__title tab-fz20">Обнаружено 14 новых генетических заболеваний у детей</div>
                        <div class="news-item-desc__preview tab-fz14">Врожденные аномалии развития являются одной из главных причин смертности новорожденных по всему миру. В большинстве случаев главную роль играют генетические факторы. Одно из крупнейших исследований болезней детей выявило 14 новых генов, ответственных за нарушения развития у детей.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-grid__item_blog-page news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/blog1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__title tab-fz20">Акупунктура повышает эффективность медикаментозного лечения при хронических  депрессиях</div>
                        <div class="news-item-desc__preview tab-fz14">Специалисты здравоохранения выяснили, что акупунктура повышает эффективность медикаментозного лечения при хронических болях и депрессиях. В журнале National Institute for Health Research ученые рассказали о положительном эффекте иглоукалывания и привели существенные доказательства этому факту.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
            </div>
            <div class="pagination">
                <div class="pagination__prev">
                    « Назад
                </div>
                <div class="pagination__items pagination-items">
                    <div class="pagination-items__item">
                        1
                    </div>
                    <div class="pagination-items__item">
                        2
                    </div>
                    <div class="pagination-items__item">
                        3
                    </div>
                    <div class="pagination-items__item">
                        4
                    </div>
                    <div class="pagination-items__item">
                        ...
                    </div>
                    <div class="pagination-items__item">
                        19
                    </div>
                    <div class="pagination-items__item">
                        20
                    </div>
                    <div class="pagination-items__item">
                        21
                    </div>
                </div>
                <div class="pagination__next">
                    Вперед »
                </div>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title tab-fz35 mob-fz25">Подписывайтесь на наши новости и узнавайте всё первыми</div>
                <div class="section-form__descr">Вы будете получать на электронную почту свежие новости и информацию об акциях и скидках на прогарммы диагностики/лечения в Южной Корее</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text mob-fz14">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <p class="tac">
                    <a href="#" class="button tab-fz18">Отправить бесплатный запрос</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}