{% extends "layouts/app.twig" %}

{% block pageTitle %} Почему выбирают нас {% endblock %}

{% block content %}
    <div class="section section_bg-choose-us">
        <div class="container">
            <div class="section__title section__title_white">
                <div class="st-title fz55 tab-fz40 mob-fz30">Об этом нельзя молчать</div>
            </div>
            <div class="grid grid_elems-2 tab-fz18 mob-fz14">
                <div class="grid__item">Мы уже не раз писали истории о людях, на чью долю выпали тяжелые испытания, и каждый раз поражаемся их силе воли и духа. После очередного интервью порой становится даже как-то стыдно за свое уныние из-за мелких жизненных неудач. Вот и сейчас передо мной сидит молодая, красивая, хрупкая девушка.</div>
                <div class="grid__item">Язык не поворачивается назвать ее женщиной. Мама троих очаровательных дочек Наталья Пан. (Natalya Tsoy). Сильная до невозможности. Спокойно рассказывает историю, от которой у меня, что называется, мурашки по коже.<br><a class="grid__item_read-more mob-fz14" href="#">Читать далее</a></div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section__item section-item">
                <div class="section__title st-title fz50 tab-fz35 mob-fz25">Почему выбирают нас?</div>
                <div class="st-content tab-fz18 mob-fz14">
                    <p>Не найдя решения в Казахстане и в России, мы решили найти его за пределами страны. Но сколько времени было истрачено, сколько здоровья было потрачено из за не правильного лечения?</p>
                    <p>Мы изучили колоссальный поток информации, систематизация которой требовала огромного количества времени и трудозатрат. Выбор страны для лечения и клиники, десятки, а то и сотни мнений на форумах, опрос друзей и знакомых, перевод документов и переписка с медицинским персоналом, сравнение методик лечения и его стоимости, согласование деталей, оформление необходимых документов – превзошли все наши ожидания. На обратном пути, в самолете, Мы вдруг поняли, что таких людей как я очень много, а судьба не каждому дает столько времени на поиск правильного решения.</p>
                    <p>Так было принято решение о создании компании, которая специализируется в предоставлении полной информации о возможностях и качестве медицинского обслуживания в Южной Корее.</p>
                    <p>Мы не являемся турагентством, не продаем горящие или какие-либо иные туры.  Все свое время мы тратим на работу с нашими пациентами, которых мы полностью сопровождаем до, во время и после лечения. </p>
                </div>
            </div>
            <div class="section__item section-item">
                <div class="section__title st-title fz50 tab-fz35 mob-fz25">Если Вам необходима помощь,</div>
                <div class="section-item__subtitle st-title fz35 tab-fz25 mob-fz18">просто позвоните или напишите нам — мы сделаем все, чтобы помочь Вам!</div>
                <div class="section-item-grid">
                    <div class="section-item-grid__content tab-fz18 mob-fz14">
                        <ul>
                            <li>Мы переведем Вашу историю болезни и подготовим медицинское досье,составим медицинскую программу лечения и обследования бесплатно</li>
                            <li>Заочная консультация с профессором бесплатно</li>
                            <li>Мы организуем Ваше лечение быстро и комфортно бесплатно</li>
                            <li>Встреча в аэропорту и проводы бесплатно</li>
                            <li>Вы платите за лечение непосредственно в больнице</li>
                            <li>Полное сопровождение до, во время и после лечения бесплатно</li>
                            <li>Все координаторы в нашей компании прошли стажировку в Южной Корее</li>
                            <li>Все сотрудники лечились в Южной Корее, поэтому не по наслышке знаютпро уровень и качество медицинского обслуживания</li>
                        </ul>
                    </div>
                    <div class="section-item-grid__contacts">
                        <div class="section-contacts section__contacts">
                            <div class="section-contacts__header tab-fz25 mob-fz18">Наши контакты:</div>
                            <div class="section-contacts__body">
                                <div class="section-contacts__line">
                                    <a class="section-contacts__link fz35 tab-fz25 mob-fz18" href="tel:+77770000789">+7 777 0000 789</a>
                                    <p class="section-contacts__text fz20 tab-fz18 mob-fz14">Наталья</p>
                                </div>
                                <div class="section-contacts__line">
                                    <a class="section-contacts__link fz35 tab-fz25 mob-fz18" href="tel:+777770777775">+7 777 707 777 75</a>
                                    <p class="section-contacts__text fz20 tab-fz18 mob-fz14">Жулдыз</p>
                                </div>
                                <div class="section-contacts__line">
                                    <p class="section-contacts__text fz20 tab-fz18 mob-fz14">E-mail:</p>
                                    <a class="section-contacts__link fz25 tab-fz20 mob-fz18" href="mailto:nlc.info.kz@gmail.com">nlc.info.kz@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_grey">
        <div class="container">
            <div class="mission">
                <div class="mission__content">
                    <p><strong>Миссия:</strong> Помочь людям улучшить свое здоровье.</p>
                    <p><strong>Цель:</strong> Помощь и забота о людях, которые попали в сложную ситуацию, и не в состоянии самостоятельно с ней справиться.</p>
                    <p>Первое место в структуре смертности в Казахстане занимает болезни сердца и сосудов, второе место занимают онкологические заболевания.</p>
                    <p>К сожалению эти болезни диагностируются на поздних стадиях, где не в силах помочь даже за границей. А обнаружив болезнь на ранних стадиях, в Казахстане во многих случаях не могут вылечить серьезные заболевания из-за не достаточно квалифицированных специалистов и устаревшего оборудования.</p>
                    <p>Наша компания предлагает проходить раз в год диагностику в Южной Корее для исключения серьёзных заболеваний. А обнаружив их на ранних стадиях, позволяет полностью излечиться, благодаря профессионализму медицинского персонала и новейшего оборудования.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title tab-fz35 mob-fz25">Если есть вопрос, то задайте его нам</div>
                <div class="section-form__descr">Наши консультанты проконсультируют Вас и ответят на все вопросы</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea mob-fz14" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text mob-fz14">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <p class="tac">
                    <a href="#" class="button tab-fz18">Отправить бесплатный запрос</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}