{% extends "layouts/app.twig" %}

{% block pageTitle %} Соглашение о конфиденциальности {% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="confidential">
            <div class="section__title st-title fz50 tab-fz35 mob-fz25">Соглашение о конфиденциальности</div>
            <ol class="custom-ol-list tab-fz18 mob-fz14">
                <li>
                    <h2>1. Вводные положения</h2>
                    <ul>
                        <li>New Life Company – информационная система, обеспечивающая передачу значительных массивов информации между пользователями. Часть этой информации относится к личной или конфиденциальной информации, т.е. не предполагает ее раскрытие третьим лицам.</li>
                        <li><p>New Life Company будет прилагать все разумные усилия для того, чтобы;</p>
                            <ol class="inserted-ol">
                                <li>конфиденциальная информация собиралась только в минимально необходимом объеме;</li>
                                <li>конфиденциальная информация использовалась исключительно в тех целях, которые были заявлены при ее сборе;</li>
                                <li>конфиденциальная информация не попадала в третьи руки.</li>
                            </ol>
                        </li>
                        <li>Действующая версия Соглашения размещена в открытом доступе сети Интернет.</li>
                    </ul>
                </li>
                <li>
                    <h2>2. Предмет соглашения</h2>
                    <ul>
                        <li>Соглашение конфиденциальности распространяется на всю ту информацию, которую New Life Company может получить о пользователе во время его пребывания на сайте New Life Company и которая, может быть однозначно соотнесена с данным конкретным пользователем.</li>
                    </ul>
                </li>
                <li>
                    <h2>3. Получение, использование и раскрытие конфиденциальной информации</h2>
                    <ul>
                        <li>New Life Company может получать конфиденциальную информацию о пользователе, когда пользователь регистрируется на сайте _______________ ибо использует сервисы New Life Company. Эти данные могут включать, в том числе, имя, фамилию и отчество пользователя, паспортные данные, контактные данные в виде телефона, адреса электронной почты, и физического адреса проживания, регистрационные и контактные данные представляемого пользователем юридического лица, а также ряд других.</li>
                        <li>New Life Company также автоматически собирает ряд технических данных, включая IP адрес, cookie, историю посещений браузера и др.</li>
                        <li>Адреса электронной почты, полученные New Life Company, могут использоваться New Life Company для отправки пользователям сообщений и рассылок. Пользователи New Life Company всегда могут отписаться от получения таких рассылок в будущем.</li>
                        <li>New Life Company никому не продает и не передает конфиденциальную информацию о пользователях. New Life Company может передать конфиденциальную информацию третьим лицам только в случаях, когда это необходимо для назначения приема к врачу, бронирования номеров, трансфера и билетов.</li>
                    </ul>
                </li>
                <li>
                    <h2>4. Безопасность личных данных</h2>
                    <ul>
                        <li>Доступ к конфиденциальной информации, представленной пользователем New Life Company или персональным настройкам пользователя на __________________, защищен паролем.</li>
                    </ul>
                </li>
                <li>
                    <h2>5. Изменения в соглашении о конфиденциальности информации</h2>
                    <ul>
                        <li>New Life Company может вносить изменения в Соглашение о конфиденциальности в одностороннем порядке и без предварительного уведомления пользователей.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}