{% extends "layouts/app.twig" %}

{% block pageTitle %} Диагностика {% endblock %}


{% block content %}
    <div class="banner">
        <div class="section section_pt60px section_pb30px">
            <div class="container">
                <div class="section__body">
                    <div class="section__header section__header_w900px section__header_mb30px">
                        <h1 class="section__title section__title_f55px section__title_mb30px section__title_white">Программы комплексного обследования в медецинском центре «Сунчонхян»</h1>
                        <div class="section__text section__text_white section__text_lh1-5">Медицинский центр Сунчонхян получил высшее звание клиники 3-го уровня в лечении сердечно-сосудистых, раковых и других различных серьезных заболевании. Используется новейшее оборудование последних разработок , с помощью которых устанавливают точный диагноз и подбирают соответствующий эффективный метод лечения.</div>
                    </div>
                    <button class="button button__banner">Отправить бесплатный запрос</button>
                </div>
            </div>
            <div class="section__footer section_pt_25px">
                <div class="container container_w900px">
                    <div class="banner-grid">
                        <div class="banner-grid__item">
                            <div class="banner-grid__number">32</div>
                            <div class="banner-grid__text">Терапевтических и хирургических отделения</div>
                        </div>
                        <div class="banner-grid__item">
                            <div class="banner-grid__number">16</div>
                            <div class="banner-grid__text">Профессиональных центров</div>
                        </div>
                        <div class="banner-grid__item">
                            <div class="banner-grid__number">108</div>
                            <div class="banner-grid__text">Специализированных клиник</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}