{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}


{% block content %}
    <div class="main-slider owl-carousel">
        <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');">
            <div class="container">
                <div class="main-slider__content">
                    <h1 class="main-slider__title">Все виды диагностики <br>и лечения в Южной корее <br>пластическая хирургия</h1>
                    <div class="main-slider__subtitle">Столкнулись с медецинской проблемой или просто решили проверить свое здоровье?</div>
                    <div class="main-slider__text">Наша компания специализируется в предоставленииполной информации <br>о возможностях и качестве обслуживания медицины в Южной Корее. <br>Мы не предоставляем Вам услуги, мы консультируем Вас.</div>
                    <div class="main-slider__button">
                        <button class="button_slider button" type="button">Отправить бесплатный запрос</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');">
            <div class="container">
                <div class="main-slider__content">
                    <h1 class="main-slider__title">Все виды диагностики <br>и лечения в Южной корее <br>пластическая хирургия</h1>
                    <div class="main-slider__subtitle">Столкнулись с медецинской проблемой или просто решили проверить свое здоровье?</div>
                    <div class="main-slider__text">Наша компания специализируется в предоставленииполной информации <br>о возможностях и качестве обслуживания медицины в Южной Корее. <br>Мы не предоставляем Вам услуги, мы консультируем Вас.</div>
                    <div class="main-slider__button">
                        <button class="button_slider button" type="button">Отправить бесплатный запрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title">Запросите стоимость <br>Вашего лечения/диагностики</div>
                <div class="section-form__descr">Мы проконсультируем Вас и поможем найти оптимальный вариант лечения</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <button class="form-request__button button" type="button">Отправить бесплатный запрос</button>
            </form>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="why-korea">
                <div class="why-korea__content">
                    <div class="why-korea__title">
                        <div class="st-title fz50">Почему Южная Корея?</div>
                    </div>
                    <div class="list-advantage">
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-equipment"></i>
                            </div>
                            <p class="list-advantage__text">Новейшее оборудование</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-high-lvl"></i>
                            </div>
                            <p class="list-advantage__text">Высокий уровень медицинских технологий</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-high-skill"></i>
                            </div>
                            <p class="list-advantage__text">Высокая квалификация медицинского персонала</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-reliability"></i>
                            </div>
                            <p class="list-advantage__text">Надежные передовые услуги здравоохранения</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-price"></i>
                            </div>
                            <p class="list-advantage__text">Доступная стоимость лечения</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-korean-medics"></i>
                            </div>
                            <p class="list-advantage__text">Корейские медики достигли самого высокого уровня в диагностировании и лечении онкологических, кардиологических заболеваний, нарушений опорно-двигательного аппарата и др. заболеваний</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_grey">
        <div class="container">
            <div class="section__title section__title_mb40px">Отзывы клиентов</div>
            {% include "widgets/reviews.twig" %}
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section__title section__title_mb30px">Что о нас говорят</div>
            <div class="say-about owl-carousel">
                <div class="say-about__inner">
                    <div class="say-about-grid">
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                    </div>
                </div>
                <div class="say-about__inner">
                    <div class="say-about-grid">
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_grey">
        <div class="container">
            <div class="section__title section__title_mb40px">Новости</div>
            <div class="news">
                <div class="news__block">
                    <a class="news__link" href="#">
                        <div class="news__image news-image">
                            <img class="news-image__image" src="images/news1.jpg" alt="">
                        </div>
                        <div class="news-text">
                            <p class="news-text__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</p>
                            <p class="news-text__date">30.12.2016</p>
                        </div>
                    </a>
                </div>
                <div class="news__block">
                    <a class="news__link" href="#">
                        <div class="news__image news-image">
                            <img class="news-image__image" src="images/news2.jpg" alt="">
                        </div>
                        <div class="news-text">
                            <p href="" class="news-text__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</p>
                            <p class="news-text__date">30.12.2016</p>
                        </div>
                    </a>
                </div>
                <div class="news__block">
                    <a class="news__link" href="#">
                        <div class="news__image news-image">
                            <img class="news-image__image" src="images/news3.jpg" alt="">
                        </div>
                        <div class="news-text">
                            <p href="" class="news-text__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</p>
                            <p class="news-text__date">30.12.2016</p>
                        </div>
                    </a>
                </div>
                <div class="news__block">
                    <a class="news__link" href="#">
                        <div class="news__image news-image">
                            <img class="news-image__image" src="images/news4.jpg" alt="">
                        </div>
                        <div class="news-text">
                            <p href="#" class="news-text__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</p>
                            <p class="news-text__date">30.12.2016</p>
                        </div>
                    </a>
                </div>
            </div>
            <button class="button__news button" type="button">Все новости</button>
        </div>
    </div>

    <div class="section-form section-form_bg2">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title">Если есть вопрос, то задайте его нам</div>
                <div class="section-form__descr">Наши консультанты проконсультируют Вас и ответят на все вопросы</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <button class="form-request__button button" type="button">Отправить бесплатный запрос</button>
            </form>
        </div>
    </div>


    <div class="section section_grey">
        <div class="container">
            <div class="section__title section__title_mb40px">Часто задаваемые вопросы</div>
            <div class="faq">
                <div class="faq__item">
                    <div class="faq__title">Какие программы прикрепления у вас есть?</div>
                    <div class="faq__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона, который указан на сайте (звонок бесплатный).</div>
                </div>
                <div class="faq__item">
                    <div class="faq__title">Какие программы прикрепления у вас есть?</div>
                    <div class="faq__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона.</div>
                </div>
                <div class="faq__item">
                    <div class="faq__title">Можно ли заключить договор на меньший срок?</div>
                    <div class="faq__text">Договор на прикрепление заключается только на год (365 дней) с любой даты начала обслуживания.</div>
                </div>
                <div class="faq__item">
                    <div class="faq__title">Можно ли заключить договор на меньший срок?</div>
                    <div class="faq__text">Договор на прикрепление заключается только на год (365 дней) с любой даты начала обслуживания.</div>
                </div>
                <div class="faq__item">
                    <div class="faq__title">Какие программы прикрепления у вас есть?</div>
                    <div class="faq__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона, который указан на сайте(звонок бесплатный).</div>
                </div>
                <div class="faq__item">
                    <div class="faq__title">Какие программы прикрепления у вас есть?</div>
                    <div class="faq__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона, который указан на сайте (звонок бесплатный).</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="social">
                <div class="social__instagram">
                    <div class="social__title">Мы в instagram</div>
                    <div class="instagram-grid">
                        <a href="#" class="instagram__item">
                            <img class="instagram__image" src="../images/instagram1.jpg" alt="">
                            <div class="instagram__title">Зачем нужна диагностика организма?</div>
                            <div class="instagram__category">Рубрика: упражнения</div>
                            <div class="instagram__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                        </a>
                        <a href="#" class="instagram__item">
                            <img class="instagram__image" src="../images/instagram2.jpg" alt="">
                            <div class="instagram__title">Стресс и болезни сердца</div>
                            <div class="instagram__category">Рубрика: упражнения</div>
                            <div class="instagram__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                        </a>
                        <a href="#" class="instagram__item">
                            <img class="instagram__image" src="../images/instagram3.jpg" alt="">
                            <div class="instagram__title">ТОП-5 пластических операций</div>
                            <div class="instagram__category">Рубрика: упражнения</div>
                            <div class="instagram__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                        </a>
                        <a href="#" class="instagram__item">
                            <img class="instagram__image" src="../images/instagram4.jpg" alt="">
                            <div class="instagram__title">Диагностика заболеваний сердца</div>
                            <div class="instagram__category">Рубрика: упражнения</div>
                            <div class="instagram__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                        </a>
                    </div>
                </div>
                <div class="social__facebook facebook">
                    <div class="social__title">Мы в facebook</div>
                    <div class="facebook__item">
                        <img src="../images/facebook.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}