{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

<style>
    .hello {
        border: 2px solid #ffaaaa;
    }
</style>

{% block content %}

    <div class="main-slider owl-carousel">
        <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');">
            <div class="container">
                <div class="main-slider__content">
                    <h1 class="main-slider__title">Все виды диагностики <br>и лечения в Южной корее <br>пластическая хирургия</h1>
                    <div class="main-slider__subtitle">Столкнулись с медецинской проблемой или просто решили проверить свое здоровье?</div>
                    <div class="main-slider__text">Наша компания специализируется в предоставленииполной информации <br>о возможностях и качестве обслуживания медицины в Южной Корее. <br>Мы не предоставляем Вам услуги, мы консультируем Вас.</div>
                    <div class="main-slider__button">
                        <button class="button_slider button" type="button">Отправить бесплатный запрос</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');">
            <div class="container">
                <div class="main-slider__content">
                    <h1 class="main-slider__title">Все виды диагностики <br>и лечения в Южной корее <br>пластическая хирургия</h1>
                    <div class="main-slider__subtitle">Столкнулись с медецинской проблемой или просто решили проверить свое здоровье?</div>
                    <div class="main-slider__text">Наша компания специализируется в предоставленииполной информации <br>о возможностях и качестве обслуживания медицины в Южной Корее. <br>Мы не предоставляем Вам услуги, мы консультируем Вас.</div>
                    <div class="main-slider__button">
                        <button class="button_slider button" type="button">Отправить бесплатный запрос</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section">

        <div class="container container_w750">
            <div class="section__header">
                <div class="section__title">NLC — эффективное лечение начинается с точной диагностики</div>
                <div class="section__text">Наша компания осуществляет консультацию и полное сопровождение до, во время и после лечения.</div>
            </div>
        </div>

        <div class="container">

            <div class="section__subtitle">Как мы работаем</div>
            <div class="section-grid">

                <div class="section-grid__item">
                    <div class="section-grid__icon-wrapper">
                        <div class="section-grid__icon">
                            <i class="fri fri_icon-request"></i>
                        </div>
                    </div>
                    <div class="section-grid__text"><b>Вы оставляете запрос</b>, после чего <br>мы связываемся с Вами для уточнения полной информации</div>
                </div>

                <div class="section-grid__item">
                    <div class="section-grid__icon-wrapper">
                        <div class="section-grid__icon">
                            <i class="fri fri_icon-information"></i>
                        </div>
                    </div>
                    <div class="section-grid__text"><b>Предоставляем полную информацию</b> о вариантах лечения и возможных расходах</div>
                </div>

                <div class="section-grid__item">
                    <div class="section-grid__icon-wrapper">
                        <div class="section-grid__icon">
                            <i class="fri fri_icon-visit"></i>
                        </div>
                    </div>
                    <div class="section-grid__text"><b>Организовываем поездку:</b> Билеты, трансфер, проживание, переводчик и т.п.</div>
                </div>

            </div>
        </div>
    </div>

    <div class="section section_form section_p60px">

        <div class="container container_w770px ">
            <div class="section__title section__title_f55px">Запросите стоимость <br>Вашего лечения/диагностики</div>
            <div class="section__text section__text_mb25px">Мы проконсультируем Вас и поможем найти оптимальный вариант лечения</div>
        </div>

        <div class="container container_w820px">
            <form class="form-request">
                <textarea class="form-request__textarea" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                <div class="form-request__inputs">
                    <input class="form-request__full-name" type="text" placeholder="ФИО">
                    <input class="form-request__contacts" type="text"placeholder="Контактный телефон или email">
                </div>
                <div class="form-request__inputs">
                    <input class="form-request__checkbox" id="form-request__checkbox" type="checkbox">
                    <label class="section__input-text" for="form-request__checkbox">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</label>
                </div>
                <button class="form-request__button button" type="button">Отправить бесплатный запрос</button>
            </form>
        </div>

    </div>

    <div class="section section_doctor container">
        <div class="list-advantage ">

            <div class="section__title section__title_advantage">Почему Южная Корея?</div>

            <div class="list-advantage__item">
                <div class="list-advantage__icon">
                    <i class="fri fri_icon-equipment"></i>
                </div>
                <p class="list-advantage__text">Новейшее оборудование</p>
            </div>

            <div class="list-advantage__item">
                <div class="list-advantage__icon">
                    <i class="fri fri_icon-high-lvl"></i>
                </div>
                <p class="list-advantage__text">Высокий уровень медицинских технологий</p>
            </div>

            <div class="list-advantage__item">
                <div class="list-advantage__icon">
                    <i class="fri fri_icon-high-skill"></i>
                </div>
                <p class="list-advantage__text">Высокая квалификация медицинского персонала</p>
            </div>

            <div class="list-advantage__item">
                <div class="list-advantage__icon">
                    <i class="fri fri_icon-reliability"></i>
                </div>
                <p class="list-advantage__text">Надежные передовые услуги здравоохранения</p>
            </div>

            <div class="list-advantage__item">
                <div class="list-advantage__icon">
                    <i class="fri fri_icon-price"></i>
                </div>
                <p class="list-advantage__text">Доступная стоимость лечения</p>
            </div>

            <div class="list-advantage__item">
                <div class="list-advantage__icon">
                    <i class="fri fri_icon-korean-medics"></i>
                </div>
                <p class="list-advantage__text">Корейские медики достигли самого высокого уровня в диагностировании и лечении онкологических, кардиологических заболеваний, нарушений опорно-двигательного аппарата и др. заболеваний</p>
            </div>

        </div>
    </div>

    <div class="section section_grey section_p60px">
        <div class="section__title section__title_mb35px">Отзывы клиентов</div>
        <div class="review-slider owl-carousel">
            <div style="background-color: #f6f6f6;">
                <div class="container">
                    <div class="review-slider__content">
                        <div class="review-slider__photo">
                            <img class="review-slider__img" src="../images/review-photo.jpg">
                        </div>
                        <div class="review-slider__text">
                            <div class="review-slider__header">
                                <div class="review-slider__name">Марина Пшеничникова</div>
                                <div class="review-slider__right">
                                    <span class="review-slider__place">Клиника: Квимс</span>
                                    <span class="review-slider__date">29.09.2016</span>
                                </div>
                            </div>
                            <div class="review-slider__text">Мы решили ехать в Южную Корею, когда у нас возникли некоторые разногласия с российской медициной по поводу состояния здоровья нашего ребенка. Мы приехали сюда, Никите провели обследование: сделали УЗИ, взяли кровь, по результатам у нас был прием. Профессор – заведующий инфекционным отделением успокоил нас, сказал, что сын абсолютно здоров.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_p90px">
        <div class="section__title section__title_mb28px">Что о нас говорят</div>
        <div class="say-about-slider owl-carousel">
            <div class="say-about-slider__slide">
                <img class="say-about-slider__image" src="../images/say-about-video.jpg">
                <img class="say-about-slider__image" src="../images/say-about-video.jpg">
                <img class="say-about-slider__image" src="../images/say-about-video.jpg">
                <img class="say-about-slider__image" src="../images/say-about-video.jpg">
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section__title">
                Новости
            </div>
        </div>
    </div>

{% endblock %}