{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}


{% block content %}
    <div class="main-slider owl-carousel">
        <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');">
            <div class="container">
                <div class="main-slider__content">
                    <h1 class="main-slider__title">Все виды диагностики <br>и лечения в Южной корее <br>пластическая хирургия</h1>
                    <div class="main-slider__subtitle">Столкнулись с медецинской проблемой или просто решили проверить свое здоровье?</div>
                    <div class="main-slider__text">Наша компания специализируется в предоставленииполной информации <br>о возможностях и качестве обслуживания медицины в Южной Корее. <br>Мы не предоставляем Вам услуги, мы консультируем Вас.</div>
                    <div class="main-slider__button">
                        <button class="button_slider button" type="button">Отправить бесплатный запрос</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__slide" style="background-image: url('images/slide1.jpg');">
            <div class="container">
                <div class="main-slider__content">
                    <h1 class="main-slider__title">Все виды диагностики <br>и лечения в Южной корее <br>пластическая хирургия</h1>
                    <div class="main-slider__subtitle">Столкнулись с медецинской проблемой или просто решили проверить свое здоровье?</div>
                    <div class="main-slider__text">Наша компания специализируется в предоставленииполной информации <br>о возможностях и качестве обслуживания медицины в Южной Корее. <br>Мы не предоставляем Вам услуги, мы консультируем Вас.</div>
                    <div class="main-slider__button">
                        <button class="button_slider button" type="button">Отправить бесплатный запрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section__header">
                <div class="section__title">
                    <div class="st-title fz50">NLC — эффективное лечение начинается с точной диагностики</div>
                </div>
                <div class="section__text">Наша компания осуществляет консультацию и полное сопровождение до, во время и после лечения.</div>
            </div>
        </div>
        <div class="container">
            <div class="section__subtitle">Как мы работаем</div>
            <div class="section-grid">
                <div class="section-grid__item">
                    <div class="section-grid__icon-wrapper">
                        <div class="section-grid__icon">
                            <i class="fri fri_icon-request"></i>
                        </div>
                    </div>
                    <div class="section-grid__text"><b>Вы оставляете запрос</b>, после чего <br>мы связываемся с Вами для уточнения полной информации</div>
                </div>
                <div class="section-grid__item">
                    <div class="section-grid__icon-wrapper">
                        <div class="section-grid__icon">
                            <i class="fri fri_icon-information"></i>
                        </div>
                    </div>
                    <div class="section-grid__text"><b>Предоставляем полную информацию</b> о вариантах лечения и возможных расходах</div>
                </div>
                <div class="section-grid__item">
                    <div class="section-grid__icon-wrapper">
                        <div class="section-grid__icon">
                            <i class="fri fri_icon-visit"></i>
                        </div>
                    </div>
                    <div class="section-grid__text"><b>Организовываем поездку:</b> Билеты, трансфер, проживание, переводчик и т.п.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title">Запросите стоимость <br>Вашего лечения/диагностики</div>
                <div class="section-form__descr">Мы проконсультируем Вас и поможем найти оптимальный вариант лечения</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <button class="form-request__button button" type="button">Отправить бесплатный запрос</button>
            </form>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="why-korea">
                <div class="why-korea__content">
                    <div class="why-korea__title">
                        <div class="st-title fz50">Почему Южная Корея?</div>
                    </div>
                    <div class="list-advantage">
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-equipment"></i>
                            </div>
                            <p class="list-advantage__text">Новейшее оборудование</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-high-lvl"></i>
                            </div>
                            <p class="list-advantage__text">Высокий уровень медицинских технологий</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-high-skill"></i>
                            </div>
                            <p class="list-advantage__text">Высокая квалификация медицинского персонала</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-reliability"></i>
                            </div>
                            <p class="list-advantage__text">Надежные передовые услуги здравоохранения</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-price"></i>
                            </div>
                            <p class="list-advantage__text">Доступная стоимость лечения</p>
                        </div>
                        <div class="list-advantage__item">
                            <div class="list-advantage__icon">
                                <i class="fri fri_icon-korean-medics"></i>
                            </div>
                            <p class="list-advantage__text">Корейские медики достигли самого высокого уровня в диагностировании и лечении онкологических, кардиологических заболеваний, нарушений опорно-двигательного аппарата и др. заболеваний</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_grey">
        <div class="container">
            <div class="section__title section__title_mb40px">
                <div class="st-title fz50">Отзывы клиентов</div>
            </div>
            {% include "widgets/reviews.twig" %}
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="section__title section__title_mb30px">
                <div class="st-title fz50">Что о нас говорят</div>
            </div>
            <div class="say-about owl-carousel">
                <div class="say-about__inner">
                    <div class="say-about-grid">
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                    </div>
                </div>
                <div class="say-about__inner">
                    <div class="say-about-grid">
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                        <div class="say-about-grid__item">
                            <img src="images/say-about-video.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_grey">
        <div class="container">
            <div class="section__title section__title_mb30px">
                <div class="st-title fz50">Новости</div>
            </div>
            <div class="news-grid">
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news2.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news3.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news4.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date">30.12.2016</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title">Если есть вопрос, то задайте его нам</div>
                <div class="section-form__descr">Наши консультанты проконсультируют Вас и ответят на все вопросы</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <button class="form-request__button button" type="button">Отправить бесплатный запрос</button>
            </form>
        </div>
    </div>

    <div class="section section_grey">
        <div class="container">
            <div class="section__title">
                <div class="st-title fz50">Часто задаваемые вопросы</div>
            </div>
            <div class="faq-grid">
                <div class="faq-grid__item faq-item">
                    <div class="faq-item__desc faq-item-desc">
                        <div class="faq-item-desc__title">Какие программы прикрепления у вас есть?</div>
                        <div class="faq-item-desc__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона, который указан на сайте (звонок бесплатный).</div>
                    </div>
                </div>
                <div class="faq-grid__item faq-item">
                    <div class="faq-item__desc faq-item-desc">
                        <div class="faq-item-desc__title">Какие программы прикрепления у вас есть?</div>
                        <div class="faq-item-desc__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона.</div>
                    </div>
                </div>
                <div class="faq-grid__item faq-item">
                    <div class="faq-item__desc faq-item-desc">
                        <div class="faq-item-desc__title">Можно ли заключить договор на меньший срок?</div>
                        <div class="faq-item-desc__text">Договор на прикрепление заключается только на год (365 дней) с любой даты начала обслуживания.</div>
                    </div>
                </div>
                <div class="faq-grid__item faq-item">
                    <div class="faq-item__desc faq-item-desc">
                        <div class="faq-item-desc__title">Можно ли заключить договор на меньший срок?</div>
                        <div class="faq-item-desc__text">Договор на прикрепление заключается только на год (365 дней) с любой даты начала обслуживания.</div>
                    </div>
                </div>
                <div class="faq-grid__item faq-item">
                    <div class="faq-item__desc faq-item-desc">
                        <div class="faq-item-desc__title">Какие программы прикрепления у вас есть?</div>
                        <div class="faq-item-desc__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона, который указан на сайте (звонок бесплатный).</div>
                    </div>
                </div>
                <div class="faq-grid__item faq-item">
                    <div class="faq-item__desc faq-item-desc">
                        <div class="faq-item-desc__title">Какие программы прикрепления у вас есть?</div>
                        <div class="faq-item-desc__text">У нас есть различные программы, о которых вы можете узнать, для этого вам нужно оставить заявку на нашем сайте, либо позвонить по номеру телефона, который указан на сайте (звонок бесплатный).</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}