{% extends "layouts/app.twig" %}

{% block pageTitle %} Новости {% endblock %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="section__title section__title_mb30px">
                <div class="st-title fz50 tab-fz35 mob-fz25">Новости</div>
            </div>
            <div class="news-grid news-grid__wrapper">
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news2.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news3.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news4.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news2.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news3.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news4.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news1.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
                <a href="#" class="news-grid__item news-item">
                    <div class="news-item__image-wrap">
                        <img class="news-item__image" src="images/news2.jpg">
                    </div>
                    <div class="news-item__desc news-item-desc">
                        <div class="news-item-desc__preview tab-fz14">Испанские ученые выяснили, что пальмовое масло провоцирует РАК. Оно используется в 90% кондитерских продуктов.</div>
                        <div class="news-item-desc__date tab-fz14">30.12.2016</div>
                    </div>
                </a>
            </div>
            <div class="pagination">
                <div class="pagination__prev">
                    « Назад
                </div>
                <div class="pagination__items pagination-items">
                    <div class="pagination-items__item">
                        1
                    </div>
                    <div class="pagination-items__item">
                        2
                    </div>
                    <div class="pagination-items__item">
                        3
                    </div>
                    <div class="pagination-items__item">
                        4
                    </div>
                    <div class="pagination-items__item">
                        ...
                    </div>
                    <div class="pagination-items__item">
                        19
                    </div>
                    <div class="pagination-items__item">
                        20
                    </div>
                    <div class="pagination-items__item">
                        21
                    </div>
                </div>
                <div class="pagination__next">
                    Вперед »
                </div>
            </div>
        </div>
    </div>

{% endblock %}