{% extends "layouts/app.twig" %}

{% block pageTitle %} Лечение {% endblock %}


{% block content %}
    <div class="section">
        <div class="container">
            <div class="section__title st-title fz50 tab-fz35 mob-fz25">Онкология в Южной Корее</div>
            <div class="st-content">
                <img class="float-right" src="images/content-image1.jpg" alt="">
                <h2>Основные способы лечения онкологии в Южной Корее</h2>
                <ul class="custom-ul-list">
                    <li>Хирургическое лечение.</li>
                    <li>Лучевая терапия.</li>
                    <li>Химиотерапия.</li>
                </ul>
                <p>Хирургическое лечение осуществляется при помощи минимально инвазивной и
                    роботизированной хирургии. Эти виды операций дают пациентам и врачам преимущества
                    — такие как меньшие разрезы, меньшие кровопотери и боль, срок нахождения в госпитале
                    значительно короче, чем при традиционных хирургических операциях.</p>
                <p>При методе лечения лучевой терапией используется современные оборудование последних поколений Rapic Arc — это новый подход лучевой терапии с визуальным контролем модуляцией интенсивности излучения, что предоставляет точное лечение в меньшие сроки. Сеанс лечения занимает около 2 минут.</p>
                <p>Химиотерапия применяться в качестве единственного метода лечения рака или в комбинации с другими методами.</p>
                <p>В госпиталях Южной Кореи пациенты могут получить доступ к полному спектру услуг, включающему раннюю диагностику (выявление), предупреждение,
                    профилактика, назначение диетического меню, спасение жизни, и психологическую поддержку.</p>
            </div>
        </div>
    </div>

    <div class="section section_grey">
        <div class="container">
            <div class="section__title st-title fz50 tab-fz35 mob-fz25">Лечение и диагностика <br>
                онкологических заболеваний в Южной Корее</div>
            <div class="js-accordion st-accordion">
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Остеосаркома</div>
                    <div class="js-accordion-content st-accordion__content st-content">
                        <img class="float-right" src="images/content-image2.jpg" alt="">
                        <p>Остеосаркома является наиболее распространенным видом среди злокачественных опухолей
                            (рака), которые возникают в кости. Чаще всего встречается у подростков мужского пола.</p>
                        <h2>Диагностика</h2>
                        <p>Необходимо пройти обследования для определения стадии рака. На момент постановки диагноза
                            остеаркома, у 20% пациентов обнаружены метастазы.</p>
                        <h3>Рентгенографический снимок</h3>
                        <p>Является основным и эффективным способом обследования, благодаря которому можно определить вид поражения: возникло ли оно на фоне восполения, доброкачественная опухоль, или же это злокачественное образование. </p>
                        <p>Сканирование костей</p>
                        <p>С помощью данного обследования можно определить метастазы костей до появления симптомов, также применяется, когда в диагностике не
                            эффективен простой рентгеновский снимок. Т.е. этот способ обследования очень важен, когда у пациента подозреваются метастазы костей, т.к. можно
                            обследовать полностью все кости.
                        </p>
                    </div>
                </div>
                <div class="js-accordion-item st-accordion__item">
                    <div class="js-accordion-toggle st-accordion__header tab-fz18 mob-fz14">Остеосаркома</div>
                    <div class="js-accordion-content st-accordion__content st-content">
                        <img class="float-right" src="images/content-image2.jpg" alt="">
                        <p>Остеосаркома является наиболее распространенным видом среди злокачественных опухолей
                            (рака), которые возникают в кости. Чаще всего встречается у подростков мужского пола.</p>
                        <h2>Диагностика</h2>
                        <p>Необходимо пройти обследования для определения стадии рака. На момент постановки диагноза
                            остеаркома, у 20% пациентов обнаружены метастазы.</p>
                        <h3>Рентгенографический снимок</h3>
                        <p>Является основным и эффективным способом обследования, благодаря которому можно определить вид поражения: возникло ли оно на фоне восполения, доброкачественная опухоль, или же это злокачественное образование. </p>
                        <p>Сканирование костей</p>
                        <p>С помощью данного обследования можно определить метастазы костей до появления симптомов, также применяется, когда в диагностике не
                            эффективен простой рентгеновский снимок. Т.е. этот способ обследования очень важен, когда у пациента подозреваются метастазы костей, т.к. можно
                            обследовать полностью все кости.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-form">
        <div class="section-form__container container">
            <div class="section-form__header">
                <div class="section-form__title tab-fz40 mob-fz30">Запросите стоимость <br>Вашего лечения/диагностики</div>
                <div class="section-form__descr tab-fz18">Мы проконсультируем Вас и поможем найти оптимальный вариант лечения</div>
            </div>
            <form class="form-request">
                <div class="form-request__line">
                    <textarea class="st-textarea mob-fz14" placeholder="Ваш запрос, информация о заболевании (диагноз), любая формулировка"></textarea>
                </div>
                <div class="form-request__line">
                    <div class="form-request__inputs">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="ФИО">
                        <input class="form-request__input st-input mob-fz14" type="text" placeholder="Контактный телефон или email">
                    </div>
                </div>
                <div class="form-request__line">
                    <label class="st-label">
                        <div class="st-label__checkbox st-checkbox">
                            <input class="st-checkbox__input" type="checkbox">
                            <div class="st-checkbox__checkbox"></div>
                        </div>
                        <span class="st-label__text mob-fz14">Отправляя запрос, я соглашаюсь на обработку своих персональных данных</span>
                    </label>
                </div>
                <p class="tac">
                    <a href="#" class="button tab-fz18">Отправить бесплатный запрос</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}