<footer>
    <div class="section">
        <div class="container">
            <div class="social">
                <div class="social__instagram">
                    <div class="section__title">
                        <div class="st-title fz50">Мы в instagram</div>
                    </div>
                    <div class="instagram-grid">
                        <a href="#" class="instagram-grid__item">
                            <div class="instagram-item">
                                <img class="instagram-item__image" src="../images/instagram1.jpg" alt="">
                                <div class="instagram-item__title">Зачем нужна диагностика организма?</div>
                                <div class="instagram-item__category">Рубрика: упражнения</div>
                                <div class="instagram-item__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                            </div>
                        </a>
                        <a href="#" class="instagram-grid__item">
                            <div class="instagram-item">
                                <img class="instagram-item__image" src="../images/instagram2.jpg" alt="">
                                <div class="instagram-item__title">Стресс и болезни серца</div>
                                <div class="instagram-item__category">Рубрика: упражнения</div>
                                <div class="instagram-item__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                            </div>
                        </a>
                        <a href="#" class="instagram-grid__item">
                            <div class="instagram-item">
                                <img class="instagram-item__image" src="../images/instagram3.jpg" alt="">
                                <div class="instagram-item__title">ТОП-5 пластических операций</div>
                                <div class="instagram-item__category">Рубрика: упражнения</div>
                                <div class="instagram-item__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                            </div>
                        </a>
                        <a href="#" class="instagram-grid__item">
                            <div class="instagram-item">
                                <img class="instagram-item__image" src="../images/instagram4.jpg" alt="">
                                <div class="instagram-item__title">Диагностика заболеваний сердца</div>
                                <div class="instagram-item__category">Рубрика: упражнения</div>
                                <div class="instagram-item__preview">Многие из нас довольно халатно относятся к своему здоровью, предпочитая не...</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="social__facebook facebook">
                    <div class="section__title">
                        <div class="st-title fz50">Мы в facebook</div>
                    </div>
                    <div class="facebook__item">
                        <img src="../images/facebook.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_taupe">
        <div class="container">
            <div class="footer-grid">
                <div class="footer-grid__item footer-item">
                    <div class="footer-item__wrapper">Головной офис: г. Алматы, <br>ул. Немировича-данченко, д. 49<div class="footer-item-phones__text">Телефоны:</div><div class="footer-item-phone__numbers">+7 777 0000 789,<br>+7 777 7077 775</div>E-mail: <a href="mailto:nlc.info.kz@gmail.com">nlc.info.kz@gmail.com</a><br>© 2017 «New Life Company»</div><a href="#">Соглашение о конфиденциальности</a>
                </div>
                <div class="footer-grid__item footer-item">
                    <a href="#">Лечение в Южной Корее</a><br>
                    <a href="#">Диагностика в Южной Корее</a><br>
                    <a href="#">Отзывы о нас</a><br>
                    <a href="#">Проживание и питание в Южной Корее</a><br>
                    <a href="#">Контактная информация</a><br>
                    <a href="#">Получить второе мнение</a><br>
                </div>
                <div class="footer-grid__item footer-item">
                    <div class="footer-item__social">Мы в социальных сетях<br>
                        <a href=""><i class="fri fri_icon-facebook"></i></a>
                        <a href=""><i class="fri fri_icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>