<footer class="section section_taupe section_pt50px">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-grid__item">
                <span class="footer-grid__text">Головной офис: г. Алматы</span>
                <span class="footer-grid__text">ул. Немировича-Данченко, д.49</span>
                <div class="footer-phone">
                    <span class="footer-phone__text">Телефон:</span>
                    <div class="footer-phone__phones">
                        <a class="footer-grid__text" href="tel:+77770000789">+7 777 0000 789</a>
                        <a class="footer-grid__text" href="tel:+777770777775">+7 777 707 777 75</a>
                    </div>
                </div>
                <span class="footer-grid__text">E-mail: <a href="mailto:nlc.info.kz@gmail.com">nlc.info.kz@gmail.com</a></span>
                <span class="footer-grid__text">© 2017 «New Life Company»</span>
                <br>
                <span class="footer-grid__text"><a href="#">Соглашение о конфиденциальности</a></span>
            </div>
            <div class="footer-grid__item">
                <span class="footer-grid__text"><a href="#">Лечение в Южной Корее</a></span>
                <span class="footer-grid__text"><a href="#">Диагностика в Южной Корее</a></span>
                <span class="footer-grid__text"><a href="#">Отзывы о нас</a></span>
                <span class="footer-grid__text"><a href="#">Проживание и питание в Южной Корее</a></span>
                <span class="footer-grid__text"><a href="#">Контактная информация</a></span>
                <span class="footer-grid__text"><a href="#">Получить второе мнение</a></span>
            </div>
            <div class="footer-grid__item">
                <span class="footer-social__text">Мы в социальных сетях</span>
                <a href=""><i class="fri fri_icon-facebook"></i></a>
                <a href=""><i class="fri fri_icon-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>