<header class="header">
    <div class="header__top container">
        <div class="main-header">
            <div class="main-header__logo">
                <div class="logo">
                    <a class="logo__link" href="/">
                        <img class="logo__img" src="images/logo.png" alt="New Life Company">
                    </a>
                </div>
            </div>
            <div class="main-header__contacts">
                <p class="main-header__phone"><a href="#" class="main-header__phone-link" href="tel:88000000000">8 800 000 00 00</a></p>
                <p class="main-header__free-call">бесплатный звонок по РФ</p>
            </div>
            <div class="main-header__button">
                <button class="button__header button" type="button">Заказать видеоконсультацию <br>с профессором бесплатно</button>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="main-menu">
            <li class="main-menu__item main-menu__item_dropmenu">
                <a class="main-menu__link" href="#">Лечение</a>
                <ul class="main-menu__dropmenu menu-dropdown">
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Онкологические заболевания</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Гастроэнтерологические заболевания</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Транспанталогия</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Заболевание головного мозга и суставов</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Болезни головы и шеи</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Сердечно-сосудистые заболевания</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Заболевание позвоночника</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Урологические заболевания</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Гинекологические заболевания</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Пластическая хирургия</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Другое</a>
                    </li>
                    <li class="menu-dropdown__item">
                        <a class="menu-dropdown__link" href="#">Второе мнение</a>
                    </li>
                </ul>
            </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Диагностика</a>
             </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Почему выбирают нас?</a>
             </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Информация для пациентов</a>
             </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Отзывы</a>
             </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Новости</a>
             </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Блог</a>
             </li>
             <li class="main-menu__item">
                <a class="main-menu__link" href="#">Контакты</a>
             </li>
        </ul>
    </div>
</header>